*{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(185, 185, 185);
    font-family: Cambria, sans-serif;
}

h1{
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    background-color: lightgray;
    position: sticky;
    z-index: 1;
    border-bottom: 1px solid black;
}

label, input[type="text"]{
    display: flex;
    align-items: center;
}

.todo{
    height: 30px;
    width: inherit;
    display: flex;
    margin: 5px 0;
    font-size: inherit;
}

.task{
    width: 60vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px auto;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.complete{
    text-decoration: line-through;
}

.bi-circle, .bi-check-circle{
    border: none;
    background-color: inherit;
    color: rgb(30, 154, 30);
    padding-right: 10px;
    height: inherit;
}

.bi-x-octagon{
    border: none;
    background-color: inherit;
    color: rgb(170, 9, 9);
    padding-left: 10px;
}

#containers{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

#all-todos, #active-todos, #completed-todos{
    top: auto;
    background-color: lightgray;
    border-radius: 5px;
    margin: 10px;
    width: 68vh;
    height: 95vh;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

#new-todos{
    display: flex;
    justify-content: space-evenly;
    font-size: inherit;
}

#todo-input{
    width: 45vh;
}

#enter-todo{
    width: 8vh;
    font-size: inherit;
}